<div class="container-fluid.p-3 ">
    <div class="row p-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-control">
                <label class="text-right">New Password</label>
                <input class="text-left" type="text" [value]="pwd">
                <br>
                <div class="form-control">
                    <input class="btn btn-success" type="button" value="confirm" (click)="changePassword()">
                </div>
            
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
   </div>