<div class="container-fluid">
    <div class="card-body">
        
            <label>Subject</label>
        <select class="form-Control" id="subDropdown" [(ngModel)]="subSelected">
            <option value="-1">Select Subject</option>
            <option *ngFor="let s of subjects" [value]="s" >{{s}}</option>
        </select>
        <input type="button" value="Start Quiz" (click)="onSubjectChange($event)">
       
        
    </div>
</div>


<div class="container-fluid" *ngIf="false">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="d-flex content-between p-3">
                    <img src="C:\Users\T LAKSHMI MANASA\OneDrive\Desktop\imagesVis.jpg" width="90">
                </div>
                <div class="card">
                    <h4>quiz in {{subSelected}}</h4>
                    <h3>Welcome</h3>
                    <span style="font-style: italic;">{{name}}</span>
                </div>

            </div>
              <div class="card mt-1 p-2 p1-4 bg-secondary text-white">
                <div class="row">
                    <div class="col-12">
                        <h4>{{questionArray[currentQuestion].desc}}</h4>
                    </div>
                </div>
              </div>
              <div class="card mt-2 p-3 gray-border grey-back">
                <div class="row">
                    <div class="col-12 optionDiv">
                        <div class="card option gray-back font-weight-bold" *ngFor="let option of questionArray[currentQuestion].options"
                        (click)="onSelect(questionArray[currentQuestion],questionArray[currentQuestion].options,option)"
                        [ngClass]="option.isSelected?'bg-secondary text-white':''">{{option.text}}
                        
                    </div>
                    </div>
                </div>
              </div>
                     <div class="d-flex justify content between">
                        <button class="btn btn-info" (click)="prevQuestion()">Prev</button>
                        
                        <button class="btn btn-info" (click)="nextQuestion()">Nexr</button>
                    </div>
                </div>
              </div>
             
        <div class="col-md-1"></div>
    </div>


<!--Sample-->


<div class="container" *ngIf="isTestPageVisible" >
    <div class="card justify content between heading-div">
      <div class="row p-2">
        <div class="col-4 text-left">
          <img href="C:\Users\T LAKSHMI MANASA\OneDrive\Desktop\imagesVis.jpg">
          
        </div>
        <div class="col-4 text-center">
            Quiz Page
        </div>
        <div class="col-4 text-right">
            {{name}}
        </div>
      </div>
      <div class="row">
        <div class="col-12 p1-4 pr-4">
            <hr>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4">
            <h5><i class="fa fa-retweet"></i></h5>
        </div>
        <div class="col-4">
            <h5>Question<span class="text-primary">{{currentQuestion+1}}</span> of <span class="text-primary" >{{questionArray.length}}</span></h5>
        </div>
        <div class="col-4">
            <h3><span class="timer">{{counter}}</span> sec ⏱ <i class="fa fa-retweet"></i></h3>
        </div>
      </div>
      <div class="card mt-1 p-2 p1-4 bg-primary text-white">
        <div class="row">
            <div class="col-12">
                <h4>{{questionArray[currentQuestion].desc}}</h4>
            </div>
            
        </div>
      </div>
      <div class="card mt-2 p-3 gray-border grey-back">
        <div class="row">
            <div class="col-12 optionDiv">
                <ol class="options">
                    <li *ngFor="let option of questionArray[currentQuestion]?.options" [ngClass]="option.isSelected?'bg-primary text-white':''"
                    (click)="onSelect(questionArray[currentQuestion],questionArray[currentQuestion].options,option)" >{{option.text}}</li>
    
                </ol>
                
            </div>
        </div>
        <div class="row" >
            <div class="col-12 text-center">
                <div class="questionDiv" *ngFor="let q of questionArray;let i=index" [ngClass]="q.isAttempted?'attempted text-white':'left'">
                  &nbsp;  {{i+1}}
                </div>
            </div>
        </div> 


      </div>
      
       
      <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-info" [disabled]="currentQuestion==0" (click)="prevQuestion()">Prev</button>    &nbsp;  
            <button style="align-items:right;" class="btn btn-info" [disabled]="currentQuestion==questionArray.length-1" (click)="nextQuestion()">next</button>
        </div>
  </div>
    <div>
        <hr>
    </div>
<div class="row" >
    <div class="col-12 text-center">
        <input class=" btn btn-success" type="button" value="Submit" (click)="getResult()" >
    </div>

</div>
       
       
      </div>      
    </div>
    <div *ngIf="isQuizCompleted">
        <ng-container>
            <div class="row d-flex justify-content-between">
                <img style="width: 10%;" class="img-fluid col-sm-12 mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
                    <p>Total Question : {{questionArray.length}} </p>
                    <p>Total Correct Answered : {{noOfCorrectAns}} </p>
                    <p>Total Wrong Answered : {{wrongAns}} </p>
                    <p>Your Score : {{points}}/{{questionArray.length}} Points </p>
                </div>
            </div>
        </ng-container>
    
    </div>
  
